<div class="container text-center p-2 bg-body-tertiary">
    <h3 class="mt-2">Carros Cadastrados</h3>
    <table class="table mt-4">
        <thead>
            <tr>
                <th>#</th> 
                <th>Nome</th>
                <th>Montadora</th>
                <th>Preço</th>
                <th>Ano</th>
                <th class="text-end">Opções</th>
            </tr>
        </thead>
        <tbody>
            <!-- Diretiva: um for do angular para, por exemplo, mostrar todos os elementos do array -->
            <tr>
                <td>1</td>
                <td>Uno</td>
                <td>Fiat</td>
                <td>25000</td>
                <td>2000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Siena</td>
                <td>Fiat</td>
                <td>35000</td>
                <td>2008</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Volkswagen</td>
                <td>Celta</td>
                <td>18000</td>
                <td>1998</td>
            </tr>
        </tbody>
    </table>
</div>
