<div class="container text-center p-4 bg-body-tertiary">
    <h3 class="mt-2">Carros Cadastrados</h3>
    <table class="table mt-4">
        <thead>
            <tr>
                <th>#</th> 
                <th>Nome</th>
                <th>Montadora</th>
                <th>Preço</th>
                <th>Ano</th>
                <th class="text-end">Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let car of cars">
                <td>{{car.id}}</td>
                <td>{{car.name}}</td>
                <td>{{car.automaker}}</td>
                <td>{{car.price}}</td>
                <td>{{car.year}}</td>
            </tr>
        </tbody>
    </table>
</div>
